<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<div class="container">
 <div class="row">
    <h1>Home Page</h1>
    <hr> 
    <p>
        User Interface Behavior: The isActive field can also influence the behavior of the user interface. For example, if an account is inactive, the UI might display a message indicating that the user needs to reactivate their account or contact support.
    
    In summary, the isActive field is a useful tool for managing user accounts and controlling their access and functionality within an application. It provides a straightforward way to track the status of user accounts and allows for more flexible and controlled management of user data.
    </p>
    
 </div>
</div>
<%- include('./partials/footer.ejs') %>

